@media (min-width: 750px) {
  body {
    font-family: 'Times New Roman', Times, serif;
    /*background-image: linear-gradient(white, gray);*/
    max-height: 100%;
    padding-left: 28.125%;
    /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    padding-right: 28.125%;
    /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
    background-color: white;
  }
}

hr {
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 20px;
  border: 2px solid red;
}

.bottom-button {
  min-width: 45%;
  max-width: 75%;
  height: 60px;
  font-size: 20px;
  background: black;
  border: black;
  border-radius: 50px;
  color: white;
}
.bottom-button:hover{
  background: red;
  border: red;
}

.switch-button{
  width: 40px;
}

#calibrate-button {
  width: 100%;
  height: 40px;
  font-size: 20px;
  background: black;
  border: black;
  border-radius: 50px;
  color: white;
}
#calibrate-button:hover{
  background: red;
  border: red;
}

/* Specific items */
#options-table {
  font-size: 14px;
  margin: 0 0 0 auto;
  text-align: left;
  color: gray;
}

#arex-logo {
  max-width: 100%;
}

/* Botton buttons style*/
#botom-buttons {
  text-align: justify;
}

#botom-buttons:after {
  content: '';
  display: inline-block;
  width: 99%;
}

/* Select dropdown style */
.select-style {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background: url("/selectbox-arrow.svg") 25px center no-repeat; 
  background-size: 10px;
}

.select-style select {
  padding: 5px 5px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

/* Div container style*/
.container {
  display: flex;
}

.fixed {
  width: 200px;
}

.flex-item {
  flex-grow: 1;
}

/* Slider style*/
.slider {
  -webkit-appearance: none;
  min-width: 100%;
  height: 15px;
  border-radius: 20px;
  background-image: linear-gradient(to right, red, lightgray, lightgray, lightgray, black, lightgray, lightgray, lightgray, red);
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
}
.slider::-webkit-slider-thumb:hover{
  background: red;
  border: red;
}

.slider::-moz-range-thumb:hover{
  background: red;
  border: red;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}